body {
    background-size: cover;
    text-align: center;
    font-family: Futura;
    font-weight: 800;
}

h1, p {
    color: (255,211,206);
}
h1 {
	font-style: italic;
	font-size: 28px;
}
p {
	font-size: 22px;
}